doctype html
html(lang="en")
  head
    title sample App
    
    script(src="/lib/moment.min.js")
    script(src="/lib/tinymce/tinymce.min.js")
    link(href='/styles.css', rel='stylesheet')
  body
    div#main-app
    script(src="/vendor.js")
    script(src="/main.js")
    
