doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="http://localhost:8080/webpack-dev-server.js")
  body
    div#main-app
    script(src="http://localhost:8080/assets/bundle.js")
    
