@import 'variable';
body {
  background-color: $color_light_grey;
}

.section {
  background-color: #fff;
  margin: 12px 0;
  padding: 10px;
  article{
    header{
      color: $color_light_green;
    }
  }
}
// #7BD4BA
.b-header{
  min-height: 60px;
  .b-top-bar{
    width: 100%;
  }
}

.section--article{
  h3{
    border-bottom: 1px dashed $color_light_grey;
  }
}
