@import 'variable';
@import 'mixin';
body {
  background-color: $color_light_grey;
}


#main-app {
  position: absolute;
  width: 100%;
  height: 100%;
}

#main-app-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header, #body-app-content, #footer{
  flex: 1;
}

#header {
  max-height: 60px;
}

#footer{
  width: 100%;
  max-height: 80px;
}

.post-container {
  background-color: #fff;
  padding: 10px;
  article{
    header{
      color: $color_light_green;
    }
  }
}
// #7BD4BA
.b-header{
  min-height: 60px;
  .b-top-bar{
    width: 100%;
  }
}
.main, .aside {
  margin: 14px 0;
}
.section--article{
  h3{
    border-bottom: 1px dashed $color_light_grey;
  }
}
